<template>
<div>

  <div class="investee">
    <p>Mã đầu tư:</p>
    <div class="select-box">
      <select v-model="selected">
	<option v-for="(symbol, i) in codes" :value="i">
	  <span> {{ symbol.code }} 
	    </span>
	</option>

      </select>
      	<i class="arrow down"></i>
    </div>

  </div>
  
  <table>
    <tr><td > Gía trị:</td>
      <td >
        <span 
	  :style="{backgroundColor: codes[selected].isprofit}">
      </span> </td>
      <td >
        <strong style="font-weight:bold">
	  {{codes[selected].value}}
      </strong> </td>
      <td >
        <span
	  :style="{color: codes[selected].isprofit}">
	  {{codes[selected].profit}} ({{codes[selected].rate}})
	</span>                             
      </td>
    </tr>                                                  
    <tr>
      <td ></td>
      <td > {{codes[selected].capital}} </td>
      <td >({{codes[selected].percentage}} tài sản)
      </td>  
    </tr>                    
  </table>
  
  <div>
    <div >
      <ul>
        <li v-bind:class="{activetab: activeChart}">
          <a  @click="openChart">
	    <div v-bind:class="{activearrow: activeChart}"></div>
            <span> Đồ thị </span> </a> </li>
        <li ></li>
        <li v-bind:class="{activetab: !activeChart}">
	  <a  @click="openInfo">
            <div  v-bind:class="{activearrow: !activeChart}"></div>
            <span> Thông tin </span> </a> </li>
      </ul>                                                        
    </div>
    <div  v-if="activeChart">
      <figure><img :src="codes[selected].chart.link"></figure>
    </div>
    <div  v-else>
      <b>Danh mục đầu tư tiêu biểu </b> <br>
      {{ codes[selected].info.investedin }}   <br>
      <b> Tổng quan về qũy </b>       <br>
      {{ codes[selected].info.overall }}      <br>
      <b> Chiến lược đầu tư </b>      <br>
      {{ codes[selected].info.strategy }}
      <br>
    </div>                         
    <router-view />                                              
  </div>                                                    

  <table >
    <tr>                                                                   <td > Tối đa:</td><td >
	100.000.000 đ </td><td >
	<i @click="changeaction"></i>
	<a href="#"  v-if="codes[selected].action">
	  <b >ĐẦU TƯ</b> </a>
	<a href="#" v-else> <b >RÚT VỐN</b> </a>
	<i  @click="changeaction"></i></td></tr>
    <tr>
      <td > Giá trị:</td>
      <td > <i ></i> &nbsp; 50.000 đ &nbsp;<i ></i> </td>
      <td ><a href="#" ><b > MỞ LỆNH</b> </a>
    </td></tr>
  </table>


</div>

</template>

<style>

  .investee {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: grey;
  font-size: 1rem;
  }
  .select-box {
  padding: 3% 1%;
  width: 100px;
  overflow: hidden;
  }
  select {
  background-color: transparent;
  border: none;
  font-weight: bold;
  width: 110px;
  appearance: none;
  }


  i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  }

  .down {
  transform: rotate(45deg);
  
  }
  
  
  </style>
<script>

  let symbols = [
  {
  code: 'ETFVN30',
  value: '110.000.000',
  profit: '+10.000.000',
  isprofit: 'green',
  rate: '+10%',
  capital: '100.000.000',
  percentage: '10%',
  chart: {
  link: "https://bulma.io/images/placeholders/128x128.png"
  },
  info: {
  investedin: ['AAA', 'BBB'],
  overall: 'Quỹ ETF là quỹ đầu tiên ở Việt nam',
  strategy: 'Quỹ đầu tư vào SME',
  },
  action: true,
  },
  {
  code: 'AAA',
  value: 99000000,
  profit: '-10000000',
  isprofit: 'red',
  rate: '-10%',
  capital: 100000000,
  percentage: '10%',
  
  chart: {
  link: "https://bulma.io/images/placeholders/128x128.png"
  },
  info: {
  investedin: ['AAA', 'CCC'],
  overall: 'Quỹ AAA là quỹ do công ty A lập',
  strategy: 'Quỹ đầu tư vào LE',
  },
  action: false,
  },
  ]
  
  export default {
  name: 'Profile',
  data () {
  return {
  asset: 100000000,
  profit: 10000000,
  rate: '+10%',
  codes: symbols,
  selected: 0,
  activeChart: true,
  }
  },
  methods: {
  changeaction(){
  },
  openChart() {
  this.activeChart = true;
  },
  openInfo(){
  this.activeChart=false;
  }
  }
  }       
  </script>
