<template>
  <div>
    <div class="banner">
      <div class="avatar-container">
	<img :src="person.avatar">
      </div>
      <div class="personal-infomation-container">
	
	<p class="personal-information">
	  <span class="name">{{ person.name }}</span> <br>
	  <span class="subname"> Tai san: {{ person.assets }} </span> <br>
	  <span class="subname">Loi nhuan: {{ person.profit }} ({{person.profitRate}})</span> <br>
	</p>
	
      </div>
      <div class="recharge-button-container">
	<button class="recharge-button white-text"> NAP THEM </button>
      </div>
    </div>

      <router-view to="/Profile/invest" />

      <div class="bottom-buttons">
	<router-link v-for="button in buttons"  class="my-button" :class="{'is-active': $route.path == button.path}" :to="button.path"><i :class="button.iclass"></i><p class="button-label">{{button.label}}  </p> </router-link>
      </div>
      
      

  </div>
</template>

<style scoped>
  .banner {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--coi-green-inside);
  min-height: 80px;
  height: 20%;
  }
  .avatar-container {
  width: 10%;
  padding: 0.7%;
  }
  .avatar-container img {
  width: 100%;
  border-radius: 50%;
  }
  .personal-information-container {
  width: 60%;
  position: relative;
  }
  .personal-information {
  text-align: left;
  padding-left: 2%;
  color: lightgrey;
  position: absolute;
  top: 0.5%;
  }
  .name {
  font-weight: bold;
  font-size: 1.2em;
  }
  .subname {
  font-size: 0.9em;
  }
  .recharge-button-container {
  width: 30%;
  }
  .recharge-button {
  background-color: var(--coi-orange);
  position: absolute;
  top: 5%;
  left: 70%;
  border: none;
  padding: 2%;
  border-radius: 5%;
  box-shadow: 1px 1px 1px grey;
  }
  @media screen and (min-width:600px) {
  .name {
  font-size: 1.4em;
  }
  .subname {
  font-size: 1.1em;
  }
  .recharge-button {
  padding: 1.5%;
  }
  }
  .bottom-buttons {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid var(--coi-grey);

  width: 100%;
  }
  .my-button {
  width: 20%;
  color: grey;
  font-size: 1.05em;
    padding-top: 2%;
  }
  a {
  text-decoration: none;
  color: var(--coi-grey8);
  }
  a:visited {
  color: var(--coi-grey8);
  }
  a:hover {
  color: var(--coi-green);
  }
  .is-active{
  color: var(--coi-green) !important;
  border-top: 2px solid var(--coi-green);
  }

  </style>

<script>

  let info = {
  name: 'Nguyen Van A',
  avatar: "https://bulma.io/images/placeholders/96x96.png",
  assets: '100.000.000 d',
  profit: '+10.000.000 d',
  profitRate: '+10%'
  };

      let menu = [
      {
      path: "/Profile/all",
      iclass: "fas fa-address-card",
      label: "Tổng hợp"
      },
      {
      path: "/Profile/account",
      iclass: "fas fa-user",
      label: "Tài khoản"
      },
      {
      path: "/Profile/invest",
      iclass: "fas fa-funnel-dollar",
      label: "Đầu tư"
      },
      {
      path: "/Profile/history",
      iclass: "fas fa-history",
      label: "Lịch sử"
      },
      {
      path: "/Profile/utility",
      iclass: "fas fa-snowflake",
      label: "Tiện ích"
      }
      ]


  export default {
  name: 'Profile',
  data () {
  return {
      person: info,
      buttons: menu
      
  }
  },
      
  }
  
</script>
